<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;469;500;600;700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <style>
    *{
    font-family: 'Oswald', sans-serif;
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
h1{
text-align:center;
font-size:60px;
font-weight:800;
letter-spacing:5px;
color:white;
padding-top:100px;
}
.paragraph{
text-align:center;
font-size:40px;
color:white;
background-color:rgb(165, 253, 219);
background-image:url(https://images.pexels.com/photos/164595/pexels-photo-164595.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
background-repeat:no-repeat;
background-size:cover;
}
.about{
    width:100%;
    height:300px;
    background-image:url(https://www.aroell.com/wp-content/uploads/2017/12/wallpapers-3d-hotel-design-hd-wallpaper-artistic-hd-wallpapers.jpg);
    background-repeat:no-repeat;
    background-size:cover;
}
</style>
</head>
<body>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Janpath</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="http://localhost:7000/gallery">Gallery<span class="sr-only">(current)</span></a>
              </li>
            <li class="nav-item active">
                <a class="nav-link" href="http://localhost:7000/contact">Contact<span class="sr-only">(current)</span></a>
              </li> 
            <li class="nav-item active">
                <a class="nav-link" href="http://localhost:7000/about">About<span class="sr-only">(current)</span></a>
            </li> 
            <li class="nav-item active">
                <a class="nav-link" href="http://localhost:7000/hotels">Hotel<span class="sr-only">(current)</span></a>
            </li> 
           </ul>
           </nav>   
<div class=about>
<h1>About us </h1>
</div>
<div class="paragraph">
<p>In a modern, glass-fronted building, this upmarket hotel is 6 minutes' walk from a metro station and 1.6 km from India Gate, a grand and iconic war memorial.Sophisticated rooms with dark wood furnishings offer free Wi-Fi and flat-screen TVs, plus desks, minifridges, and tea and coffeemaking facilities. Suites add partitioned living areas; upgraded suites also have dining tables. Room service is available 24/7.Freebies include parking and a breakfast buffet. There's a polished international restaurant with traditional live music, in addition to a bar, a 24-hour cafe and a lawn featuring mini-golf. Banquet facilities are available.</p>
</div>
</body>
</html>
